@charset: "utf-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**************** base css *******************/
body{
    font-family: 'avenir-medium', sans-serif;
    font-size: 14px;
    color:#fdedd4;
}
.clearfix:after{
    content:'';
    display:block;
    clear:both;
}
a:link, a:visited, a:active{
    text-decoration:none;
    color: black;
}

/****************** layout *****************/
/*index*/

.global_header_gnb li{
    float:left;
}

/*cast*/
.cast_main_controls span {
	float: left;
}

.cast_main_controls span.next {
	float: right;
}


/*************** module ****************/

/*global_header*/
#global_header{
    background:#fdedd5;
    position: fixed;
    top:0;
    width:100%;
    z-index: 3;
}
.global_header_gnb{
    width:600px;
    margin:0 auto;
}

.global_header_gnb li{
    font-size:18px;
    padding:20px 0 20px 40px;
}

/*global_footer*/
#global_footer{
    position:fixed;
    left:0;
    bottom:0;
    z-index:3;
    width:100%;
    text-align:center;
    background:black;
   
}

/*index*/
#index_main #wrapper{
    width:600px;
    margin:0 auto;
    padding-top: 200px;
    text-align:center;
}

#index_main q{
    font-size:21px;
    font-style: italic;
    font-family:TimesNewRoman, "Times New Roman", Times, serif;
}
.index_main_trailer{
    display:block;
    margin:30px 0;
}
.index_main_critic{
    margin-top:20px;
}
.index_main_critic q{
    display:block;
    margin-bottom:10px;
}
.index_main_critic em{
    font-style: italic;
}

/*cast*/

.cast_main_slideshow {
	list-style: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 0;
	margin: 0;
}

/* If background-size supported we'll add the images to the background of the li */

.backgroundsize .cast_main_slideshow li {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center center;
}

/* ...and hide the images */
.backgroundsize .cast_main_slideshow li img {
	display: none;
}

.cast_main_slideshow li img {
	display: block;
	width: 100%;
}

.cast_main_controls {
	position: fixed;
	width: 300px;
	height: 100px;
	margin: -50px 0 0 -150px;
	top: 50%;
	left: 50%;
}

.cast_main_controls span {
	width: 100px;
	height: 100px;
	position: relative;
	cursor: pointer;
}

.cast_main_controls span:before {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 100px;
	font-size: 80px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
	opacity: 0.7;
}

.cast_main_controls span:active:before {
	top: 2px;
}

 .cast_main_controls span.play:before {
	content: "\e002";
}

.cast_main_controls span.pause:before {
	content: "\e003";
}

.cast_main_controls span.next:before {
	content: "\e000";
}

.cast_main_controls span.prev:before {
	content: "\e001";
}

/* Fallback */

.cast_html.no-backgroundsize .cast_main_slideshow li:first-child {
	opacity: 1;
}

.cast_html.backgroundsize .cast_main_slideshow li:first-child img {
	display: block;
}


/*************** state **************/
/*cast*/
.cast_main_slideshow li {
	position: absolute;
	width: 101%;
	height: 101%;
	top: -0.5%;
	left: -0.5%;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	transition: opacity 1s;
}

.cast_main_controls span:hover:before {
	opacity: 1;
}
